/*Animacje navbar*/

.translate-y-animation{animation: a-translate-y 2000ms ease-in-out forwards;}

@keyframes a-translate-y{
    from {transform: translateY(-30px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}

/*Animacje header*/

.opacity-animation{animation: a-opacity 2000ms ease-in-out}

@keyframes a-opacity{
    from {opacity: 0;}
    to {opacity: 1;}
}

.translate-x-animation-r{animation: a-translate-x 2000ms ease-in-out forwards;}

@keyframes a-translate-x-r{
    from {transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}

.translate-x-animation{animation: a-translate-x 2000ms ease-in-out forwards;}

@keyframes a-translate-x{
    from {transform: translateX(-50px); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}

.expand {
  max-width: 90%;
  overflow: hidden;
  animation: expandWidth 2s ease-in-out forwards;
}

@keyframes expandWidth {
  from {
    max-width: 90%;
    opacity: 0;
  }
  to {
    max-width: 100%;
    opacity: 1;
  }
}

/* Animacja dla ładowania od boku */

.element-visible-right {
  opacity: 1;
  transform: translateX(0);
}

.element-hidden-right {
  opacity: 0;
  transform: translateX(50px);
}

.element-visible-left {
  opacity: 1;
  transform: translateX(0);
}

.element-hidden-left {
  opacity: 0;
  transform: translateX(-50px);
}

.element-visible-bottom {
  opacity: 1;
  transform: translateY(0);
}

.element-hidden-bottom {
  opacity: 0;
  transform: translateY(50px);
}

.element-visible-top {
  opacity: 1;
  transform: translateY(0);
}

.element-hidden-top {
  opacity: 0;
  transform: translateY(-50px);
}

.element-visible-opacity {
  opacity: 1;
}

.element-hidden-opacity {
  opacity: 0;
}

/*sekcja z firmami*/

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll {
  animation: scroll 40s linear infinite alternate;
}

@keyframes scroll-r {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}
.animate-scroll-r {
  animation: scroll-r 40s linear infinite alternate;
}

/*sekcja introduction*/

.introduction-hidden .img-1{opacity: 0; transform: translateY(-50px);}
.introduction-visible .img-1{opacity: 1; transform: translateY(0);}

.introduction-hidden .img-2{opacity: 0; transform: translateY(50px);}
.introduction-visible .img-2{opacity: 1; transform: translateY(0);}

.introduction-hidden h2{opacity: 0; transform: translateX(-50px);}
.introduction-visible h2{opacity: 1; transform: translateX(0);}

.introduction-hidden .content{opacity: 0; transform: translateX(50px);}
.introduction-visible .content{opacity: 1; transform: translateX(0);}

/*sekcja portfolio*/

.portfolio-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.portfolio-visible .animation-left{opacity: 1; transform: translateX(0px);}

/*sekcja informacje o ofercie*/

.information-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.information-visible .animation-left{opacity: 1; transform: translateX(0px);}

.information-hidden .animation-right{opacity: 0; transform: translateX(50px);}
.information-visible .animation-right{opacity: 1; transform: translateX(0px);}

/*seckaj oferta*/

.offer-hidden .animation-top{opacity: 0; transform: translateY(-50px);}
.offer-visible .animation-top{opacity: 1; transform: translateY(0px);}

.offer-hidden .animation-bottom{opacity: 0; transform: translateY(50px);}
.offer-visible .animation-bottom{opacity: 1; transform: translateY(0px);}

/*sekcja właścicieli*/

.owners-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.owners-visible .animation-left{opacity: 1; transform: translateX(0px);}

/*sekcja kontakt*/

.contact-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.contact-visible .animation-left{opacity: 1; transform: translateX(0px);}

.contact-hidden .animation-right{opacity: 0; transform: translateX(50px);}
.contact-visible .animation-right{opacity: 1; transform: translateX(0px);}

.contact-hidden .animation-top{opacity: 0; transform: translateY(-50px);}
.contact-visible .animation-top{opacity: 1; transform: translateY(0px);}

.contact-hidden .animation-bottom{opacity: 0; transform: translateY(50px);}
.contact-visible .animation-bottom{opacity: 1; transform: translateY(0px);}

/*sekcja faq*/

.faq-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.faq-visible .animation-left{opacity: 1; transform: translateX(0px);}

/*sekcja oferta wprowadzenie*/
.offer-introduction-hidden .animation-right{opacity: 0; transform: translateX(50px);}
.offer-introduction-visible .animation-right{opacity: 1; transform: translateX(0px);}

.offer-introduction-hidden .animation-opacity{opacity: 0;}
.offer-introduction-visible .animation-opacity{opacity: 1;}

/*sekcja 10x szybsze strony*/

.websites-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.websites-visible .animation-left{opacity: 1; transform: translateX(0px);}

.websites-hidden .animation-right{opacity: 0; transform: translateX(50px);}
.websites-visible .animation-right{opacity: 1; transform: translateX(0px);}

.websites-hidden .animation-bottom{opacity: 0; transform: translateY(50px);}
.websites-visible .animation-bottom{opacity: 1; transform: translateX(0px);}

.websites-hidden .animation-opacity{opacity: 0;}
.websites-visible .animation-opacity{opacity: 1;}

/*oferta coop*/

.coop-hidden .animation-left{opacity: 0; transform: translateX(-50px);}
.coop-visible .animation-left{opacity: 1; transform: translateX(0px);}

.coop-hidden .animation-right{opacity: 0; transform: translateX(50px);}
.coop-visible .animation-right{opacity: 1; transform: translateX(0px);}

.coop-hidden .animation-bottom{opacity: 0; transform: translateY(50px);}
.coop-visible .animation-bottom{opacity: 1; transform: translateX(0px);}

/* wycena */

.pricing-hidden .animation-opacity{opacity: 0;}
.pricing-visible .animation-opacity{opacity: 1;}

.pricing-hidden .animation-bottom{opacity: 0; transform: translateY(50px);}
.pricing-visible .animation-bottom{opacity: 1; transform: translateX(0px);}

/* oferta portfolio */

.o-portfolio-hidden .animation-opacity{opacity: 0;}
.o-portfolio-visible .animation-opacity{opacity: 1;}

/*----- single portfolio - introduction  ----*/

.portfolio-introduction-hidden .animation-opacity{opacity: 0;}
.portfolio-introduction-visible .animation-opacity{opacity: 1;}

.portfolio-introduction-hidden .animation-bottom{opacity: 0; transform: translateY(50px);}
.portfolio-introduction-visible .animation-bottom{opacity: 1; transform: translateY(0px);}

/* portfolio brief */

.portfolio-brief-hidden .animation-right{opacity: 0; transform: translateX(50px)}
.portfolio-brief-visible .animation-right{opacity: 1; transform: translateX(0px)}

.portfolio-brief-hidden .animation-left{opacity: 0; transform: translateX(-50px)}
.portfolio-brief-visible .animation-left{opacity: 1; transform: translateX(0px)}

.portfolio-brief-hidden .animation-opacity{opacity: 0;}
.portfolio-brief-visible .animation-opacity{opacity: 1;}

/* portfolio technologies */

.portfolio-tech-hidden .animation-opacity{opacity: 0;}
.portfolio-tech-visible .animation-opacity{opacity: 1;}

/* portfolio proces  */

.portfolio-steps-hidden .animation-left{opacity: 0; transform: translateX(-50px)}
.portfolio-steps-visible .animation-left{opacity: 1; transform: translateX(0px)}

.portfolio-steps-hidden .animation-opacity{opacity: 0;}
.portfolio-steps-visible .animation-opacity{opacity: 1;}

/* portfolio osiągnięcia  */

.portfolio-achivements-hidden .animation-left{opacity: 0; transform: translateX(-50px)}
.portfolio-achivements-visible .animation-left{opacity: 1; transform: translateX(0px)}

.portfolio-achivements-hidden .animation-opacity{opacity: 0;}
.portfolio-achivements-visible .animation-opacity{opacity: 1;}

/*portfolio klient*/

.portfolio-client-hidden .animation-left{opacity: 0; transform: translateX(-50px)}
.portfolio-client-visible .animation-left{opacity: 1; transform: translateX(0px)}

.portfolio-client-hidden .animation-opacity{opacity: 0;}
.portfolio-client-visible .animation-opacity{opacity: 1;}
