@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-fold: 350px;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .section-style {
    @apply w-[1400px] mx-auto max-2xl:w-[1240px] max-xl:w-[960px] max-lg:w-[90%];
  }

  .section-style-small {
    @apply w-[1240px] mx-auto max-xl:w-[960px] max-lg:w-[90%];
  }

  .text-paragraph {
    @apply text-[16px] max-xl:text-[15px] max-sm:text-[14px];
  }
}

body {
  line-height: 1.3;
  transition-duration: 500ms;
}

p {
  font-weight: 300;
  color: #DBDBDB;
}

button {
  cursor: pointer;
}

.custom-link a{
  color: #E28350
}

.link-color{
  color: #E28350;
  transition-duration: 500ms;
}

.link-color:hover{
  color: #7d642e;
}

/*----------- scrollbar -----------*/

*::-webkit-scrollbar {
  background-color: #04040441;
  width: 6px;
  padding-inline: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e2845082;
  border-radius: 10px;
}

/* ---------- menu - hamburger ---------- */

.hamburger-menu.active>span:first-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}

.hamburger-menu.active>span:nth-child(2) {
  display: none;
}

.hamburger-menu.active>span:last-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
}

.menu-mobile li,
.menu-mobile button,
.menu-mobile div {
  animation: showMenu 1s ease-in-out forwards;
  transform: translateX(-50px);
  opacity: 0;
}

@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*gradienty*/

.primary-gradient{
  background: linear-gradient(90deg, #000000 0%, #E28350 100%);
}

.primary-gradient-modified{
  background: linear-gradient(90deg, #00000000 0%, #E2835033 100%);
}


.heading-gradient-gray {
  background: linear-gradient(90deg, #ffffff, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-gradient-gray-rev {
  background: linear-gradient(270deg, #ffffff, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-gradient-white {
  background: linear-gradient(#ffffff66, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.radial-gradient {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 61%, rgba(226, 131, 80, 0.8) 80%, rgba(226, 131, 80, 0) 100%);
  box-shadow: 0px 4px 3000px #e28350b1;
  filter: blur(1.5px);
}

.radial-gradient-404 {
      /* background: radial-gradient(circle, rgb(0 0 0 / 20%) 60%, rgba(226, 131, 80, 1) 100%); */
  background: radial-gradient(#000000da 58%, #e28350 72%);
  box-shadow: 0px 4px 3000px #e28350b1;
  filter: blur(2px);
}

.radial-line{
  background: radial-gradient(circle, #E28350 0%, #E2835000 100%);
}

/* Panel kontaktowy (startuje poza ekranem) */
.contact-panel {
  position: fixed;
  inset: 0;
  z-index: 50;
  overflow-y: auto;
}

.slide-up{animation: slideUp 0.6s ease-in-out forwards;}
.slide-down{animation: slideDown 0.6s ease-in-out forwards;}

/* Animacja wysuwania */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.footer-hidden, .nav-hidden{
  opacity: 0;
  pointer-events: none;
}

.gradient-transparency {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.12) 5%, rgba(0, 0, 0, 0) 100%);
}

.gradient-transparency-v {
  -webkit-mask-image: linear-gradient( rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.gradient-transparency-v-full {
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

@layer utilities {
  .mask-gradient-horizontal {
    mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,1), rgba(0,0,0,0.2));
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,1), rgba(0,0,0,0.2));
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
  }
}

@layer utilities {
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.8;
  }
  input[type="time"]::-webkit-inner-spin-button {
    display: none;
  }
}

.submenu-wrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: max-height 1s ease, opacity 0.3s ease;
}

.submenu-wrapper.open {
  max-height: 500px; /* większe niż potencjalna zawartość */
  opacity: 1;
  pointer-events: auto;
}

/* ------------ BLOG ----------- */
.blog-content h2{
  font-size: 30px;
  font-weight: 400;
}

.blog-content h3{
  font-size: 18px;
  font-weight: 400;
}

.blog-content p{
  font-size: 17px;
  font-weight: 200;
  margin-top: 16px;
}

.blog-content ul{
  margin-top: 16px;
  padding-left: 25px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 200;
}

.blog-content ol{
  margin-top: 16px;
  padding-left: 25px;
  list-style: decimal;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 200;
}

.blog-content a, .blog-content a > strong, .blog-intro a, .blog-intro a > strong{
  color:#E28350;
  transition-duration: 500ms;
}

.blog-content a:hover, .blog-content a:hover > strong, .blog-intro a:hover, .blog-intro a:hover > strong{
  color:#7d642e;
}

blockquote{
  border-left: 3px solid #8a8a8a;
  padding-left: 16px;
  font-style: italic;
}

.aligncenter{
  display: flex;
  justify-content: center;
}

.blog-content pre{
    padding: 16px;
    background: #222222;
    border-radius: 5px;
    text-wrap: auto;
}

.blog-content img{border-radius: 5px;}

.blog-content .single-description{color: #8a8a8a; font-size: 12px;}

.blog-content .wp-block-columns{display: flex; gap: 32px;}

.blog-content .wp-block-column{width: 50%;}

.blog-content .wp-block-table{overflow-x: auto;}
.blog-content table{width: 100%; table-layout: fixed;  border-collapse: collapse;}
.blog-content .wp-block-table table td,
.blog-content .wp-block-table table th {
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid #ddd;
  font-size: 14px; 
}

@media only screen and (max-width: 1023px){
  .blog-content h2{font-size: 25px;}
  .blog-content table{width: 800px;}
}

@media only screen and (max-width: 767px){
  .blog-content .wp-block-columns{flex-direction: column; gap: 32px;}
  .blog-content .wp-block-column{width: 100%}
  .blog-content .wp-block-column figure{display: flex; justify-content: center;}
  .blog-content h2{font-size: 20px; font-weight: 500;}

}

@media only screen and (max-width: 350px){
  .blog-content h2{font-size: 22px;}
}

/* ---------- COOKIE TEMPLATE ---------- */
.quadBeforeChecked::before {
  content: "";
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: 2px solid #0C0C0C;
  background-color: #E28350;
  opacity: 0.5;
  transition-duration: 700ms;
  margin-right: 10px;
}

.quadBefore::before {
  content: "";
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: 2px solid #E28350;
  transition-duration: 700ms;
  margin-right: 10px;
}

.cookies .peer:checked+label .quadBefore::before{
  border-color: #0C0C0C;
  background-color: #E28350;
}